.background-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F6F8;
    height: 100vh;
    width: 100%;
}

button:focus {outline:0;}
textarea:focus {outline:0;}

.box-mainpage{
    background: #FFFFFF;
    margin-top: 45px;
    height: 575px;
    width: 1100px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.box-mainpage1{
    display: none;
    background: #FFFFFF;
    margin-top: 45px;
    height: 575px;
    width: 1100px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.box-mainpage-success{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    margin-top: 45px;
    height: 575px;
    width: 1100px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.title-mainpage{
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    width: 715px;
    height: 36px;
    left: 39px;
    top: 35px;
    color: #334D6E;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.subheader-mainpage{
    margin-top: 20px;
    margin-left: 121px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #334D6E;
}

.emoji-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 455px;
    height: 60px;
}

.emoji-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
    height: 60px;
}

.box-wrapper{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 140px;
}

.comment-box{
    padding-top: 15px;
    padding-left: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.01em;

    border: none;
    height: 100%;
    width: 830px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.create-button{
    position: absolute;
    text-align: center;
    letter-spacing: 0.01em;
    height: 42px;
    width: 128px;
    background: #109CF1;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
}

.bottom-space{
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.send-button{
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    height: 42px;
    width: 128px;
    background: #109CF1;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
}

.emoji{
    font-size: 35px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.success-emoji{
    margin-top: 50px;
    font-size: 80px;
}

.missed-message{
    font-size: 10px;
    color: red;
}